$color-key: #8383ff;
$color-key-hover: #6464c2;
$color-key-press: #316131;
$color-key-press-hover: #142b14;
$color-key-special: #845cb8;
$color-key-special-hover: #5f4186;


$content-width: 1020px;

$font: 'Open Sans', Verdana, Arial, sans-serif;
