.key {
    width: 40px;
    height: 40px;
    background-color: $color-key;
    margin-left: 6px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &.key.key_press {
        background-color: $color-key-press;
        &:hover {
            background-color: $color-key-press-hover;
        }
    }
    &:hover {
        background-color: $color-key-hover;
    }
}

.key.special {
    background-color: $color-key-special;
    &.key_press {
        background-color: $color-key-press;
        &:hover {
            background-color: $color-key-press-hover;
        }
    }
    &:hover {
        background-color: $color-key-special-hover;
    }
}

.key.backspace, .key.capslock, .key.shift-left {
    width: 100px;
}

.key.tab {
    width: 50px;
}

.key.del {
    width: 44px;
}

.key.enter, .key.shift-right {
    width: 86px;
}

.key.space {
    width: 330px;
}

.key__text {
    user-select: none;
}
.char .key__text, .letter .key__text {
    font-weight: bold;
}